[mysqld]
# Tells MariaDB to run as the 'mysql' user
user = mysql

# The standard database port
port = 3306

# Where to put the socket file
socket = /var/run/mysqld/mysqld.sock

# Where the actual database files are saved on the hard drive
datadir = /var/lib/mysql

# Listen on all network interfaces so other containers can connect (WordPress)
bind-address = 0.0.0.0